:root {
  --court-green: #426534;
  --court-blue: #305071;
  --court-transition: #34567a;
  --scale-factor: 1;
}

@media (max-width: 450px) {
  :root {
    --scale-factor: 0.5;
  }
}

@media (max-width: 768px) {
  :root {
    --scale-factor: 0.8;
  }
}


.body {
  background-color: #222;
  width: 100%;
}

.court-svg {
  background-color: var(--court-green);/* var(--court-blue) */;
  height: 100%;
  border-radius: 5px;
  stroke: white;
  stroke-width: 0.5px;
  .transition-area {
    fill: var(--court-transition);
  }

  .transition-highlight {
    fill: transparent;
    stroke-dasharray: 155;
    stroke-dashoffset: 155;
    transition: stroke-dashoffset 1s ease-out;
  }

  .kitchen {
    fill: #426534;
  }

  .kitchen-highlight {
    fill: transparent;
    stroke-dasharray: 140;
    stroke-dashoffset: 140;
    transition: stroke-dashoffset 1s ease-out;
  }

  .baseline-highlight {
    stroke-dasharray: 40;
    stroke-dashoffset: 40;
    transition: stroke-dashoffset 0.5s ease-out;
  }

  .sideline-highlight {
    stroke-dasharray: 30;
    stroke-dashoffset: 30;
    transition: stroke-dashoffset 0.5s ease-out;
  }

  .net-line {
    stroke: black;
    stroke-dasharray: 2 1;
  }
}

.anatomy-legend {
  &:has([data-court-target="kitchen"]:hover) {
    & [data-court-target="kitchen"] {
      color: red;
    }
    & ~ .court-svg .kitchen-highlight {
      stroke: red;
      stroke-dashoffset: 0;
    }
  }
  &:has([data-court-target="transition"]:hover) {
    & [data-court-target="transition"] {
      color: red;
    }
    & ~ .court-svg .transition-highlight {
      stroke: red;
      stroke-dashoffset: 0;
    }
  }
  &:has([data-court-target="baseline"]:hover) {
    & [data-court-target="baseline"] {
      color: red;
    }
    & ~ .court-svg .baseline-highlight {
      stroke: red;
      stroke-dashoffset: 0;
    }
  }
  &:has([data-court-target="sideline"]:hover) {
    & [data-court-target="sideline"] {
      color: red;
    }
    & ~ .court-svg .sideline-highlight {
      stroke: red;
      stroke-dashoffset: 0;
    }
  }
}

.court-anatomy {
  color: whitesmoke;
  background-color: rgb(35, 36, 36);
  height: 400px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.pickleball-ball {
  width: 75px;
  use {
    transform-box: fill-box;
    transform-origin: center;
  }
  z-index: 10;
  /* holes */
  .hole-up, .hole-down {
    transform: scale(0.9, 0.5);
  }
  .hole-left, .hole-right {
    transform: scale(0.5, 0.9);
  }
  .hole-edge-tr {
    transform: rotate(-45deg) scale(0.5, 0.9);
  }
  .hole-edge-tl {
    transform: rotate(45deg) scale(0.5, 0.9);
  }
  .hole-edge-bl {
    transform: rotate(-45deg) scale(0.5, 0.9);
  }
  .hole-edge-br {
    transform: rotate(45deg) scale(0.5, 0.9);
  }
  .hole-middle-tl {
    transform: rotate(25deg) scale(0.75, 0.9);
  }
  .hole-middle-tr {
    transform: rotate(-60deg) scale(0.75, 0.9);
  }
  .hole-middle-br {
    transform: rotate(25deg) scale(0.75, 0.9);
  }
  .hole-middle-bl {
    transform: rotate(-60deg) scale(0.75, 0.9);
  }
}

.perspective-container {
  perspective: 1200px;
  margin: 0 auto;
  width: 75%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
}

.court-3d {
  width: calc(400px * var(--scale-factor));
  height: calc(700px * var(--scale-factor));
  background-color: #3C638E;
  position: relative;
  transform: rotateX(70deg);
  transform-style: preserve-3d;
  box-shadow: 20px 40px 60px rgba(0,0,0,0.5);
}

.kitchen-surface {
  position: absolute;
  width: 100%;
  height: 16%; 
  background-color: #4f7a3e;
  left: 0;
  z-index: 1;
  &.top-k-surface {
    top: 34%;
  }
  &.bottom-k-surface {
    top: 50%;
  }
}


/* Generic Line Style */
.line {
  position: absolute;
  background-color: white;
  z-index: 5;
}
/* Baselines */
.baseline { 
  width: 100%; 
  height: 4px; 
  .top { 
    top: 0; 
  }
  &.bottom { 
    bottom: 0; 
  }
}
/* Sidelines */
.sideline { 
  width: 4px; 
  height: 100%; 
  &.left { 
    left: 0; 
  }
  &.right { 
    right: 0; 
  }
}
/* Midlines */
.midline { 
  width: 4px; 
  height: 34%; 
  left: calc(50% - 2px); 
  &.top-m {
    top: 0; 
  }
  &.bottom-m { 
    bottom: 0; 
  }
}
/* Kitchenlines */
.kitchen-line { 
  width: 100%; 
  height: 4px; 
  &.top-k { 
    top: 34%; 
  }
  &.bottom-k {
    bottom: 34%; 
  }
}

/* Net */
.net-container {
  position: absolute;
  top: 50%;
  width: 110%;
  height: 60px;
  left: -5%;
  transform: rotateX(-90deg) translateY(-65px);
  transform-origin: top;
  transform-style: preserve-3d;
  z-index: 15;

  /* Net Post */
  &::after, &::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 90%;
    background: #333;
    bottom: 0;
  }
  &::before {
    left: 0;
  }
  &::after {
    right: 0;
  }
}
/* Net Net */
.net-mesh {
  width: 100%;
  height: 100%;
  background: 
    repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255,255,255,0.2) 5px, rgba(255,255,255,0.2) 6px),
    repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(255,255,255,0.2) 5px, rgba(255,255,255,0.2) 6px);
  background-color: rgba(0,0,0,0.3);
  border: 1px solid rgba(255,255,255,0.5);
}
/* Net Tape */
.net-top-tape {
  position: absolute;
  top: 0;
  width: 100%;
  height: 6px;
  background: white;
}

/* Fix disappearing lines */
.court-3d, .line {
  /* Forces the browser to use the GPU for these specific elements */
  will-change: transform;
  /* Prevents the 'thinning' effect during rotation */
  transform-style: preserve-3d;
  /* Adds a 'fake' thickness to the line rendering */
  outline: 1px solid transparent; 
}

@keyframes serve {
  0%, 50% {
    transform: 
      translateX(calc(-30px * var(--scale-factor)))
      translateY(calc(90px * var(--scale-factor)))
      rotate(0deg);
  }
  52% {
    transform: 
      translateX(calc(-43px * var(--scale-factor)))
      translateY(calc(50px * var(--scale-factor)))
      rotate(-250deg);
  }
  55% {
    transform: 
      translateX(calc(-65px * var(--scale-factor)))
      translateY(calc(0px * var(--scale-factor)))
      rotate(-500deg)
      scale(0.9);
  }
  60% {
    transform: 
      translateX(calc(-100px * var(--scale-factor)))
      translateY(calc(-60px * var(--scale-factor)))
      rotate(-750deg)
      scale(0.8);
  }
  65% {
    transform: 
      translateX(calc(-125px * var(--scale-factor)))
      translateY(calc(-85px * var(--scale-factor)))
      rotate(-1000deg)
      scale(0.7);
  }
  70% {
    transform: 
      translateX(calc(-150px * var(--scale-factor)))
      translateY(calc(-105px * var(--scale-factor)))
      rotate(-1250deg)
      scale(0.65);
  }
  75% {
    transform: 
      translateX(calc(-175px * var(--scale-factor)))
      translateY(calc(-115px * var(--scale-factor)))
      rotate(-1500deg)
      scale(0.6);
  }
  /* peak */
  80% {
    transform: 
      translateX(calc(-200px * var(--scale-factor)))
      translateY(calc(-120px * var(--scale-factor)))
      rotate(-1750deg)
      scale(0.55);
  }
  85% {
    transform: 
      translateX(calc(-250px * var(--scale-factor)))
      translateY(calc(-115px * var(--scale-factor)))
      rotate(-2000deg)
      scale(0.5);
  }
  /* bounce */
  90% {
    transform: 
      translateX(calc(-300px * var(--scale-factor)))
      translateY(calc(-105px * var(--scale-factor)))
      rotate(-2250deg)
      scale(0.45);
  }
  95% {
    transform: 
      translateX(calc(-325px * var(--scale-factor)))
      translateY(calc(-135px * var(--scale-factor)))
      rotate(-2500deg)
      scale(0.4);
  }
  100% {
    transform: 
      translateX(calc(-350px * var(--scale-factor)))
      translateY(calc(-145px * var(--scale-factor)))
      rotate(-2750deg)
      scale(0.35);
  }
}

.path-container {
  position: absolute;
  width: 400px;
  height: 300px;
  /* border-color: hotpink;
  border-style: solid;
  border-width: 2px; */
}

.serve-ball {
  width: calc(30px * var(--scale-factor)); 
  position: absolute;
  transform: 
    translateX(calc(-350px * var(--scale-factor)))
    translateY(calc(-140px * var(--scale-factor)))
    scale(0.35);
  animation: serve 2s ease-out infinite;
}

.path {
  /* display: none; */
  position: absolute;
  fill: none;
  stroke: rgb(182, 193, 197);
  z-index: 5;
}

.bounce-marker {
  display: none;
  fill: rgb(57, 57, 57);
  z-index: 10;
  transform: 
    scale(1, 0.8);
}


@keyframes return {
  0%, 50% {
    transform: 
      translateX(calc(-250px * var(--scale-factor)))
      translateY(calc(-108px * var(--scale-factor)))
      rotate(0deg)
      scale(0.5);
  }
  /* serve bounce */
  55% {
    transform: 
      translateX(calc(-300px * var(--scale-factor)))
      translateY(calc(-100px * var(--scale-factor)))
      rotate(-250deg)
      scale(0.45);
  }
  60% {
    transform: 
      translateX(calc(-325px * var(--scale-factor)))
      translateY(calc(-130px * var(--scale-factor)))
      rotate(-500deg)
      scale(0.4);
  }
  /* return starts here */
  65% {
    transform: 
      translateX(calc(-350px * var(--scale-factor)))
      translateY(calc(-140px * var(--scale-factor)))
      rotate(-250deg)
      scale(0.35);
  }
  70% {
    transform: 
      translateX(calc(-310px * var(--scale-factor)))
      translateY(calc(-130px * var(--scale-factor)))
      rotate(0deg)
      scale(0.4);
  }
  75% {
    transform: 
      translateX(calc(-285px * var(--scale-factor)))
      translateY(calc(-110px * var(--scale-factor)))
      rotate(250deg)
      scale(0.5);
  }
  80% {
    transform: 
      translateX(calc(-260px * var(--scale-factor)))
      translateY(calc(-60px * var(--scale-factor)))
      rotate(500deg)
      scale(0.6);
  }
  85% {
    transform: 
      translateX(calc(-243px * var(--scale-factor)))
      translateY(calc(15px * var(--scale-factor)))
      rotate(750deg)
      scale(0.65);
  }
  /* return bounce */
  90% {
    transform: 
      translateX(calc(-240px * var(--scale-factor)))
      translateY(calc(80px * var(--scale-factor)))
      rotate(1000deg)
      scale(0.7);
  }
  93% {
    transform: 
      translateX(calc(-230px * var(--scale-factor)))
      translateY(calc(73px * var(--scale-factor)))
      rotate(1250deg)
      scale(0.75);
  }
  95% {
    transform: 
      translateX(calc(-225px * var(--scale-factor)))
      translateY(calc(70px * var(--scale-factor)))
      rotate(1500deg)
      scale(0.8);
  }
  97% {
    transform: 
      translateX(calc(-215px * var(--scale-factor)))
      translateY(calc(73px * var(--scale-factor)))
      rotate(1750deg)
      scale(0.8);
  }
  100% {
    transform: 
      translateX(calc(-205px * var(--scale-factor)))
      translateY(calc(80px * var(--scale-factor)))
      rotate(2750deg)
      scale(0.8);
  }
}

.return-ball {
  width: calc(30px * var(--scale-factor));
  position: absolute;
  transform: 
    translateX(calc(-205px * var(--scale-factor))) 
    translateY(calc(80px * var(--scale-factor))) 
    scale(0.8);
  animation: return 3s ease-out infinite;
}
  
@keyframes third-shot {
  0%, 50% {
    transform: 
      translateX(calc(-243px * var(--scale-factor)))
      translateY(calc(15px * var(--scale-factor)))
      rotate(0deg)
      scale(0.65);
  }
  /* return bounce */
  55% {
    transform: 
      translateX(calc(-240px * var(--scale-factor)))
      translateY(calc(80px * var(--scale-factor)))
      rotate(250deg)
      scale(0.7);
  }
  58% {
    transform: 
      translateX(calc(-230px * var(--scale-factor)))
      translateY(calc(73px * var(--scale-factor)))
      rotate(500deg)
      scale(0.75);
  }
  60% {
    transform: 
      translateX(calc(-225px * var(--scale-factor)))
      translateY(calc(70px * var(--scale-factor)))
      rotate(750deg)
      scale(0.8);
  }
  62% {
    transform: 
      translateX(calc(-215px * var(--scale-factor)))
      translateY(calc(73px * var(--scale-factor)))
      rotate(850deg)
      scale(0.8);
  }
  /* third-shot starts here */
  65% {
    transform: 
      translateX(calc(-205px * var(--scale-factor)))
      translateY(calc(80px * var(--scale-factor)))
      rotate(1000deg)
      scale(0.8);
  }
  70% {
    transform: 
      translateX(calc(-180px * var(--scale-factor)))
      translateY(calc(15px * var(--scale-factor)))
      rotate(1250deg)
      scale(0.7);
  }
  75% {
    transform: 
      translateX(calc(-155px * var(--scale-factor)))
      translateY(calc(-40px * var(--scale-factor)))
      rotate(1750deg)
      scale(0.6);
  }
  80% {
    transform: 
      translateX(calc(-135px * var(--scale-factor)))
      translateY(calc(-70px * var(--scale-factor)))
      rotate(2000deg)
      scale(0.55);
  }
  83% {
    transform: 
      translateX(calc(-120px * var(--scale-factor)))
      translateY(calc(-80px * var(--scale-factor)))
      rotate(2250deg)
      scale(0.5);
  }
  87% {
    transform: 
      translateX(calc(-85px * var(--scale-factor)))
      translateY(calc(-100px * var(--scale-factor)))
      rotate(2500deg)
      scale(0.35);
  }
}

.third-shot {
  width: calc(30px * var(--scale-factor));
  position: absolute;
  transform: 
    translateX(calc(-85px * var(--scale-factor))) 
    translateY(calc(-100px * var(--scale-factor))) 
    scale(0.35);
  animation: third-shot 3s ease-in infinite;
}

/* @supports (animation-timeline: view()) {
  .serve-ball {
    animation: serve linear;
    animation-timeline: view();
    animation-range: -10% 70% ;
  }
  .return-ball {
    animation: return linear;
    animation-timeline: view();
    animation-range: -10% 70% ;
  }
  .third-shot {
    animation: third-shot linear;
    animation-timeline: view();
    animation-range: -10% 70% ;
  }
} */

.pickleball-path {
  fill: none;
  stroke: white;
  stroke-width: 2px;
}